body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 20%; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mensagemErro{
    box-sizing: border-box;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;  
}

.mensagemErro a{
    text-decoration: none;
    color: black;
}

.mensagemErro a:hover{
    color: blue;
}
